local builtin = require('telescope.builtin')
require("telescope").setup({
  extensions = {
    file_browser = {
      hidden = true,
      hijack_netrw = true,
      respect_gitignore = true,
    },
    fzf = {
      fuzzy = true,
      override_generic_sorter = true,
      override_file_sorter = true,
      case_mode = "smart_case",
    },
  }
})

require("telescope").load_extension("file_browser")
require('telescope').load_extension('fzf')

vim.keymap.set('n', '<leader>pv', ":Telescope file_browser<CR>", {})
vim.keymap.set('n', '<leader>pf', builtin.find_files, {})
vim.keymap.set('n', '<leader>gf', builtin.git_files, {})
vim.keymap.set('n', '<leader>ps', function()
	builtin.grep_string({ search = vim.fn.input("Grep > ") });
end)

