return {
  "tveskag/nvim-blame-line",
  commit = "b3d94f0ed5882d3d1c843c69788b9670476e1f42",
  config = function ()
    vim.keymap.set('n', '<leader>gb', ":ToggleBlameLine<CR>", { desc = "Toggle git blame" })
  end
}
