[settings]
api_key={{ (onepasswordDetailsFields "Wakatime API" .personal.accounts.op.vault).credential.value }}
api_url={{ (onepasswordDetailsFields "Wakatime API" .personal.accounts.op.vault).hostname.value }}
