# use BSP (Binary Space Partitioning) as layout system
yabai -m config layout bsp

# set floating windows always on top
yabai -m config window_topmost on

# allow some apps to float
yabai -m rule --add app="^System Settings$" manage=off
yabai -m rule --add app="^Shadow*" manage=off
yabai -m rule --add app="Calculator" manage=off
yabai -m rule --add app="^Archive Utility" manage=off
yabai -m rule --add app="^Activity Monitor" manage=off
yabai -m rule --add app="^The Unarchiver" manage=off
yabai -m rule --add app="^Stats$" manage=off
yabai -m rule --add app="Electron" manage=off

# swap windows when use drag and drop
yabai -m config mouse_drop_action swap

# set differents gap
yabai -m config window_gap 5
