# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zshrc.pre.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.pre.zsh"

source "$HOME/zsh-autocomplete/zsh-autocomplete-main/zsh-autocomplete.plugin.zsh"

setopt share_history

export EDITOR="nvim"

eval "$(zoxide init zsh)"

zellij attach --create

if [ -z "$INTELLIJ_ENVIRONMENT_READER" ]; then
  # Fig post block. Keep at the bottom of this file.
  . "$HOME/.fig/shell/zshrc.post.zsh"
fi

# pnpm
export PNPM_HOME="$HOME/Library/pnpm"
# pnpm end

export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PNPM_HOME:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

TERM=xterm-256color

source "/opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
source "/opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
source "$(brew --prefix)/opt/spaceship/spaceship.zsh"

alias pnx="pnpm nx"
alias vim="nvim"
alias vi="nvim"

alias ls_old="/bin/ls"
alias cat_old="/bin/cat"

alias cat="bat"
alias ls="exa"

alias zipFolders='for folder in ./*; do  zip -r "${folder%/}" "${folder%/}"; done'
alias renameZipToCbz='for file in *.zip; do mv "${file%}" "${file%.zip}.cbz"; done'

export SHADOW_NPM_REGISTRY_TOKEN={{ (onepasswordDetailsFields "Shadow Registry Token" .professional.accounts.op.vault).credential.value | quote}}

alias ffr="filebot -rename --mode interactive -non-strict --lang fr"

alias gd="git diff --name-only --relative --diff-filter=d | xargs bat --diff"

# Spacehsip configuration
export SPACESHIP_TIME_SHOW=true
export SPACESHIP_PROMPT_ORDER=( dir git node deno python venv rust lua docker exec_time async jobs exit_code line_sep char )
export SPACESHIP_RPROMPT_ORDER=(time)

eval "$(fnm env --use-on-cd)"

# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zshrc.post.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.post.zsh"
