#!/usr/bin/env bash

{{ template "utils.sh" . }}

display_action "Begin homebrew installs"

display_action "Install taps"
{{- range (.os.darwin.homebrew.taps | uniq) }}
display_action "Install {{ . }}"
brew tap {{ . }}
{{- end }}

display_action "Install formulaes"
{{- range (.os.darwin.homebrew.formulaes | uniq) }}
brew list --formulae {{ . }} &> /dev/null
if [ $? -ne 0 ]; then
display_action "Install {{ . }}"
brew install {{ . }}
else
display_action "{{ . }} is already installed"
fi
{{- end }}

display_action "Install casks"
{{- range (.os.darwin.homebrew.casks | uniq) }}
brew list --casks {{ . }} &> /dev/null
if [ $? -ne 0 ]; then
display_action "Install {{ . }}"
brew install --cask {{ . }}
else
display_action "{{ . }} is already installed"
fi
{{- end }}

display_action "Install AppStore apps"
{{- range (.os.darwin.mas | uniq) }}
display_action "Install {{ .name }}"
mas install {{ .id }}
{{- end }}
