local keymaps = {}

function keymaps.init()
  -- Needs to define mapleader before loading this file
  vim.g.mapleader = " "

  -- Move between pages
  vim.keymap.set("n", "<C-f>", "<C-d>zz")
  vim.keymap.set("n", "<C-d>", "<C-u>zz")

  -- Allow replacement without removing current buffer
  vim.keymap.set("x", "<leader>p", "\"_dP")

  -- Yank in system clipboard
  vim.keymap.set("n", "<leader>y", "\"+y", { desc = "Copy into os clipboard" })
  vim.keymap.set("v", "<leader>y", "\"+y", { desc = "Copy into os clipboard" })

  -- Replace current word by another one
  vim.keymap.set("n", "<leader>s", [[:%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>]], { desc = "Replace current word by another one" })

  vim.keymap.set("n", "<C-S>", "<CMD>w<CR>", { silent = true, desc = "Save file" }) 

  -- Window cursor movement
  vim.keymap.set("n", "<C-h>", "<C-w>h", { desc = "Go to left window", silent = true })
  vim.keymap.set("n", "<C-j>", "<C-w>j", { desc = "Go to lower window", silent = true })
  vim.keymap.set("n", "<C-k>", "<C-w>k", { desc = "Go to upper window", silent = true })
  vim.keymap.set("n", "<C-l>", "<C-w>l", { desc = "Go to right window", silent = true })

  vim.keymap.set("n", "<leader>wd", "<C-W>c", { desc = "Delete window", silent = true })
  vim.keymap.set("n", "<leader>wy", "<C-W>s", { desc = "Split window below", silent = true })
  vim.keymap.set("n", "<leader>wx", "<C-W>v", { desc = "Split window right", silent = true })

  vim.keymap.set("n", "<leader>tn", "<CMD>tabnew<CR>", { desc = "New Tab", silent = true })
  vim.keymap.set("n", "<leader>td", "<CMD>tabclose<CR>", { desc = "Close Tab", silent = true })

  vim.keymap.set("v", "J", ":m '>+1<CR>gv=gv", { desc = "Move line up", silent = true })
  vim.keymap.set("v", "K", ":m '<-2<CR>gv=gv", { desc = "Move line down", silent = true })


  vim.keymap.set("n", "<leader>bd", "<CMD>bd<CR>", { desc = "Close buffer", silent = true })

  vim.keymap.set("n", "<leader>qf", "<CMD>copen<CR>", { desc = "Open quickfix list", silent = true })
end

return keymaps
